nav {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* position: relative; */
    padding: 4%;
    z-index: 999;

    /* bottom: 0;
    position: fixed;
    overflow: hidden; */
    
}

.nav-item {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 2%;
}

.left-corner {
    display: flex;
    justify-content: center;
    align-items: left;
}

.right-corner {
    display: flex;
    justify-content: center;
    align-items: right;
}

img { 
    padding: 2%;
    border-radius: 50%;
}